@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 20, 19, 19;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 20, 19, 19;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 20, 19, 19;
    --background-start-rgb: 20, 19, 19;
    --background-end-rgb: 20, 19, 19;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  overflow: scroll;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.error {
  text-align: center;
  margin-top: 3rem;
}